In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="msit"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (email)")

In [ ]:
# import mysql.connector

# mydb = mysql.connector.connect(
#   host="localhost",
#   user="root",
#   password="",
#   database="msit"
# )

# mycursor = mydb.cursor()

# mycursor.execute("CREATE TABLE customers(id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255), address VARCHAR(255),email VARCHAR(100),gender (10))")

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="msit"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers(id INT AUTO_INCREMENT  PRIMARY KEY, name VARCHAR(255), address VARCHAR(255), email VARCHAR(100), gender VARCHAR(50))")

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="msit"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address,email,gender) VALUES (%s, %s,%s, %s)"
a=input("enter the name->")
b=input("enter the address->")
c=input("enter the email->")
d=input("enter the gender->")
val=(a,b,c,d)
mycursor.execute(sql, val)
mydb.commit()

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="msit"
)

mycursor = mydb.cursor()
sql= "SELECT * FROM customers WHERE gender ='male'"

mycursor.execute(sql)

myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(1, 'John', 'Highway 21', 'john1234@gmail.com', 'male')